button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

@media (max-width: 1120px) {
    .page-wrapper {
        padding: 0 3% !important;
    }
}

@media (max-width: 970px) {
    .weather-block_container__favourite, .weather-block_container__header_favourite {
        justify-content: center !important;
    }
    .weather-block_header--favourite {
        width: 440px !important;
    }

}

@media (max-width: 805px) {
    .weather-block_container__current {
        justify-content: center !important;
    }
    .weather-block_header--current {
        width: 420px !important;
    }
    .current-weather__header_geo {
        display: none !important;
    }
    .current-weather__header_geo--mobile {
        display: block !important;
    }
}

@media (max-width: 500px) {
    .weather-block_header--favourite {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .favourite-weather_container {
        margin-top: 10px;
    }
}


@media (max-width: 470px) {
    .weather-data {
        min-width: 320px !important;
    }
    .weather-block_header--current {
        width: 320px !important;
    }
    .weather-block_header--favourite {
        width: 320px !important;
    }
    .page-wrapper {
        padding: 0 !important;
    }
}

.page-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10%;
}

.weather-block_container {
    width: 100%;
    padding: 10px 0;
    color: #7d8e93;
    font-style: normal;
    font-weight: normal;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.weather-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.weather-block_header--current {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-block_header--favourite {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.weather-data {
    min-width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 10px;
    background: #a7afb0;
    margin-bottom: 10px;
}

.weather-data:last-child {
    margin-bottom: 0;
}

.weather-data_key {
    color: #ebf5f9;
    font-size: 16px;
    font-weight: 800;
}

.weather-data_value {
    color: #d4dcdd;
    font-size: 16px;
}

.weather-block_container__favourite, .weather-block_container__header_favourite {
    justify-content: space-between;
}

.weather-block_container__favourite .weather-block {
    padding-bottom: 20px;
}

.weather-block_container__header_current {
    position: relative;
    justify-content: center;
}

.current-weather__header_label {
    font-size: 32px;
}

.current-weather__header_geo_container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.current-weather__header_geo {
    border: none;
    background: #c9d2d7;
    padding: 10px 40px;
    border-radius: 5px;
    color: #7d8e93;
    text-align: center;
}

.current-weather__header_geo--mobile {
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #7d8e93;
    text-align: center;
    background: #c9d2d7 url("src/assets/images/refresh.svg") no-repeat 50% 50%;
    background-size: 50%;
    display: none;
}

.weather-block_container__current {
    justify-content: space-between;
}

.current-weather_location__city {
    font-size: 24px;
    font-weight: 800;
}

.current-weather_location__temperature_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0 20px;
}

.current-weather_location__temperature_icon, .common-weather_icon {
    width: 100px;
    height: 100px;
    border: 3px solid #7d8e93;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #c7c7c7;
}

.current-weather_location__temperature_value {
    font-size: 72px;
    font-weight: 800;
    color: #7d7d7d;
    margin-left: 60px;
}

.favourite-weather_label {
    font-size: 32px;
}

.favourite-weather_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favourite-weather_input {
    border: none;
    color: #7d8e93;
    background: #f1f1f1;
    padding: 10px;
    width: 220px;
}

.favourite-weather_input::placeholder {
    color: #afb8ba;
}

.plus_button, .close_button {
    background: #708188 url("src/assets/images/plus.svg") no-repeat 50% 50%;
    background-size: 50%;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.common-weather_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.common-weather_inner-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.common-weather_city {
    font-size: 24px;
    font-weight: 800;
    margin-right: 20px;
}

.common-weather_temperature {
    font-size: 24px;
    color: #7d7d7d;
    margin-right: 20px;
}

.common-weather_icon {
    width: 40px;
    height: 30px;
    font-size: 10px;
}

.close_button {
    transform: rotate(45deg);
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
}